.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
}

.loader .logo-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader .logo-container img {
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotate1 1s linear;

}

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}