.slide-show{
    position: relative;
    height: 50vh;
    background: #efefef;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.slide-show .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-show .container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 88%;
    animation: automatic-slider 36s ease-in-out infinite;
}

.slide-show .container .slider .slide {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-show .container .slider .slide .text {
    position: relative;
    width: 86%;
    height: 80%;
    justify-content: space-around;
}

.slide-show .container .slider .slide .text h2 {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    color: black;
    text-align: left;
    font-size: 1.8re,;
    font-weight: 600;
}

.slide-show .container .slider .slide .text p {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}


@keyframes automatic-slider {
    0%
    {
        left: 0;
    }

    20%
    {
        left: 0;
    }

    25%
    {
        left: -100%;
    }
    45%
    {
        left: -100%;
    }
    50%
    {
        left: -200%;
    }
    70%
    {
        left: -200%;
    }

    75%
    {
        left: -300%;
    }

    95%
    {
        left: -300%;
    }

    100%
    {
        left: -300%;
    }
}
